.search,
.search-result {
    width: 415px;
}

.search-title {
    padding: 5px 12px;
    color: var(--background-gray-color-05);
    font-size: 1.4rem;
    font-weight: 600;
}

.search {
    position: relative;
    height: var(--search-height);
    display: flex;
    background-color: var(--background-gray-color-06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--background-gray-color-75);
        font-size: 1.6rem;
        padding-right: 40px;
        border: none;
        outline: none;
        height: 100%;
        background-color: transparent;
        caret-color: var(--caret-color);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--background-gray-color-75);
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--background-gray-color-12);
    }
    &:focus-within {
        border-color: var(--background-gray-color-02);
    }
}

.clear,
.loading {
    background-color: transparent;
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--background-gray-color-34);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: var(--background-gray-color-34);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
        background-color: var(--background-gray-color-03);
    }
    &:active {
        background-color: var(--background-gray-color-06);
    }
}
