.wrapper {
    width: 320px;
    padding: 10px 20px 20px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.follow-btn {
    padding: 6px 16px;
}

.body {
    margin-top: 12px;
    color: var(--text-primary-color);
}

.nickname {
    cursor: pointer;
    font-size: 1.8rem;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    cursor: pointer;
    font-size: 1.4rem;
}

.analytics {
    font-size: 1.7rem;
}

.value ~ .value {
    color: var(--default-background-media);
    margin-left: 20px;
}
.value {
    color: var(--default-background-media);
}

.label {
    color: var(--text-primary-color);
}
.footer {
    border-top: 1px solid var(--border-top);
    margin-top: 8px;
}
.bio {
    color: var(--text-primary-color);
    font-size: 1.4rem;
    margin-top: 8px;
}
